//Image Alignment Classes //

.image-align-left {
  float: left;
  padding: 1em;
  padding-right: 2em; }

.image-align-right {
  float: right;
  padding: 1em;
  padding-left: 2em; }

.image-align-center {
  float: none;
  text-align: center;
  padding: 1em;
  margin: 0px auto; }


// Typography //

blockquote {
  font-family: "museo-slab", Georgia, serif;
  text-align: center;
  border-left: none;
  color: #009dd8;
  font-size: 1.2em;
  border-top: 1px solid #f7f6f5;
  border-bottom: 1px solid #f7f6f5;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  blockquote cite {
    font-style: normal; }

h1 {
  font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #002664;
  text-transform: uppercase;
  letter-spacing: 1px; }

h2 {
  font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #009dd8;
  margin-top: 0.5em;
  margin-bottom: 0.7em; }

h3 {
  font-family: "museo-slab", Georgia, serif;
  color: #002147;
  text-transform: uppercase;
  margin-bottom: 0.7em;
  font-weight: 500;
  margin-top: 0.5em; }

h4 {
  font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
  color: #002664;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em; }

h5 {
  color: #002664;
  font-family: "museo-slab", Georgia, serif;
  font-weight: normal;
  margin-bottom: 1em; }

h6 {
  color: #737373;
  font-weight: normal;
  font-family: "tablet-gothic", Helvetica, Arial, sans-serif;
  margin-bottom: 1em; }
