.hero {
  min-height: 220px;
  width: 100%;
  overflow: hidden;
  background-position: top center;
  padding-top: 125px;
  -webkit-background-size: 200% auto;
  background-size: 200% auto; }

.introduction {
  font-size: 1.4em;
  font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
  margin-top: 1em; }

.landing-title {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 2.1em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.93)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.93) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.93) 100%); }

.photo-caption {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  padding-bottom: 1em;
  float: right;
  padding-right: 0.1em;
  position: relative;
  z-index: 100;
  margin-top: -2.5em;
  font-size: 1em; }
  .photo-caption .caption {
    color: white;
    font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif; }
  .photo-caption i {
    color: #ffc82e;
    padding-right: 1em; }
  .photo-caption .caption-title {
    color: #ffc82e;
    font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-weight: bold; }

h1.title {
  font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #009dd8;
  font-size: 2.5em;
  text-transform: none; }

h1.landing {
  font-family: "adobe-garamond-pro", Georgia, serif;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  font-size: 3.5em;
  text-transform: none; }

h1.subheader {
  font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #009dd8;
  text-transform: none;
  font-size: 1.5em; }

.image-centered {
  text-align: center; }
  .image-centered h2 {
    font-size: 2em;
    margin-top: -1.7em;
    margin-bottom: 0.5em; }
  .image-centered img {
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid #e5e3df;
    padding: 0.3em;
    margin-bottom: 1.5em; }

.image-rounded {
  text-align: center; }
  .image-rounded img {
    border-radius: 5px;
    margin-bottom: 1em;
    padding-top: 0.5em; }
  .image-rounded h2 {
    font-weight: 400;
    font-size: 2em;
    margin-top: -1.7em;
    margin-bottom: 0.5em; }

#landing-page-global .button-group {
  background-color: #e0ded9;
  -webkit-box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5); }
  #landing-page-global .button-group .button {
    margin-bottom: 0 !important;
    background-color: #e0ded9;
    color: #1a1a1a;
    border-top: none;
    border-bottom: none;
    font-weight: 600 !important;
    padding-left: inherit !important;
    padding-right: inherit !important;
    line-height: 45px; }
    #landing-page-global .button-group .button a {
      border-right: 1px solid rgba(255, 255, 255, 0.5); }
  #landing-page-global .button-group li:before {
    content: none; }
  #landing-page-global .button-group li:first-child a {
    border-left: 1px solid #e0ded9; }
  #landing-page-global .button-group li:last-child a {
    border-right: 1px solid #e0ded9; }
  #landing-page-global .button-group .button:hover, #landing-page-global .button-group .button:active, #landing-page-global .button-group .button:focus {
    background-color: #737373;
    color: white; }

h2.subheader {
  font-family: "tablet-gothic", Helvetica, Arial, sans-serif;
  color: #ffc82e;
  margin: 0;
  padding: 0;
  font-size: 1em;
  margin-top: -1.2em;
  margin-left: 0.1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  display: block; }

.landing-row {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 0.5em;
  border-bottom: 1px solid #f0efed; }
  .landing-row h2 {
    margin-top: 0; }
  .landing-row .small {
    font-size: 1em !important;
    padding-top: 1.2em !important;
    padding-bottom: 1.2em !important;
    margin-top: 0.5em;
    margin-right: 0.3em;
    margin-left: 0.3em;
    border-radius: 2px;
    background-color: #009dd8;
    border-color: #007fad;
    color: white;
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }
  .landing-row .small.fa-arrow-circle-o-right::before {
    right: 0;
    padding-right: 1em;
    position: absolute; }

.feature-row {
  text-align: center;
  -webkit-background-size: 700% auto;
  background-size: 700% auto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); }
  .feature-row h2 {
    font-weight: 600;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #eaab00; }
  .feature-row ul {
    text-shadow: none;
    text-align: left;
    margin-top: 2em; }
    .feature-row ul a {
      color: white;
      -webkit-transition: 0.1s color linear;
      transition: 0.1s color linear; }
    .feature-row ul a:hover, .feature-row ul a:active, .feature-row ul a:focus {
      color: #ffc82e; }
    .feature-row ul li {
      margin-bottom: 2em; }
  .feature-row .orbit-container .orbit-slides-container > * .orbit-caption {
    font-size: 0.9em;
    text-align: center;
    font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.7);
    color: #002664; }
    .feature-row .orbit-container .orbit-slides-container > * .orbit-caption span {
      color: #002664;
      text-transform: uppercase;
      font-size: 0.5em;
      font-weight: bold;
      padding-left: 1.5em;
      padding-bottom: 0.3em; }
    .feature-row .orbit-container .orbit-slides-container > * .orbit-caption span:hover {
      color: #003a97; }
    .feature-row .orbit-container .orbit-slides-container > * .orbit-caption .fa-caret-right::before {
      color: #009dd8 !important;
      font-size: 0.7em;
      margin-top: 0.45em; }
  .feature-row .orbit-container ul li:before {
    content: none; }
  .feature-row .small {
    min-width: 15em;
    max-width: 20em; }
  .feature-row h3 {
    color: #eaab00;
    font-size: 1.5em;
    margin-top: 1em;
    font-family: "museo-slab", Georgia, serif;
    text-transform: uppercase; }
  .feature-row p {
    color: white; }
  .feature-row .colored-blue {
    background-color: rgba(0, 38, 100, 0.8);
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
  .feature-row .colored-blue-dark {
    background-color: rgba(91, 99, 52, 0.95);
    padding-top: 2em;
    padding-bottom: 1.5em; }
    .feature-row .colored-blue-dark .orbit-bullets li.active {
      background: #009dd8; }
    .feature-row .colored-blue-dark .introduction {
      margin-top: 0em; }
  .feature-row .colored-gray {
    background-color: rgba(115, 115, 115, 0.05);
    padding-top: 2.5em;
    padding-bottom: 1.5em; }
    .feature-row .colored-gray h3 {
      color: #002147;
      text-shadow: none;
      margin-top: 1em; }
    .feature-row .colored-gray h2 {
      text-align: center; }
    .feature-row .colored-gray ul li a {
      color: black; }
  .feature-row .colored-gold {
    background-color: rgba(211, 145, 0, 0.8);
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    .feature-row .colored-gold h2 {
      color: white;
      font-size: 4em; }
    .feature-row .colored-gold h3 {
      color: #002147;
      text-shadow: none;
      font-weight: bold; }
  .feature-row .button {
    text-shadow: none; }
  .feature-row .colored-black {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid white; }
    .feature-row .colored-black .button {
      min-width: 15em; }
    .feature-row .colored-black i {
      color: #ffc82e;
      margin-top: 0.5em; }
  .feature-row .colored-black-light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 33, 71, 0.9)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 33, 71, 0.9) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 33, 71, 0.9) 100%);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid white; }
    .feature-row .colored-black-light .button {
      min-width: 15em; }
    .feature-row .colored-black-light p {
      text-shadow: 2px 2px 2px black; }
    .feature-row .colored-black-light i {
      color: #ffc82e;
      margin-top: 0.5em; }
    .feature-row .colored-black-light .shadow {
      -webkit-filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.9));
      filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.9));
      /* Same syntax as box-shadow */
      -webkit-transform: translateZ(0); }
    .feature-row .colored-black-light h1 {
      color: white;
      font-size: 2.8em;
      font-family: "tablet-gothic", Helvetica, Arial, sans-serif;
      font-weight: bold;
      margin-top: 0.5em; }
      .feature-row .colored-black-light h1 span {
        display: none;
        color: #ffc82e;
        font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
        font-weight: 700; }
    .feature-row .colored-black-light .future-students-logo {
      width: 100%;
      height: auto; }

.box {
  /*padding:.7em;*/
  /*background-color: rgba(0,0,0,.3);
	border-radius: 10px;
	border:1px solid rgba(255,255,255,.3);*/
  margin-top: 1em;
  margin-bottom: 1.5em;
  display: block;
  -webkit-transition: 0.2s background-color ease-in;
  transition: 0.2s background-color ease-in; }
  .box p {
    font-size: 0.9em; }

/*.box:hover, .box:active, .box:focus {
	background-color: rgba(255,255,255,.2);
}*/
.promo h2 {
  text-align: center; }
.promo p {
  text-align: center; }

.promo.first {
  border-right: 1px solid #e0ded9;
  margin-bottom: 1em; }

.tabs-content {
  text-align: left;
  border: 1px solid #e0ded9;
  margin-bottom: 1.5em; }
  .tabs-content .landscape {
    margin-bottom: 1em; }
  .tabs-content h4 {
    padding-left: 1em; }

.tabs-content.checklist {
  padding: 1em; }

.landing-page-tabs dd a {
  font-family: "museo-slab", Georgia, serif;
  font-size: 0.7rem;
  text-align: center; }
.landing-page-tabs dd {
  background-color: #f7f6f5;
  border-top: 4px solid #009dd8;
  margin-right: 1px;
  width: 100%; }
.landing-page-tabs dd.active {
  border-top: 4px solid #002664;
  border-left: 1px solid #e0ded9;
  border-right: 1px solid #e0ded9; }
  .landing-page-tabs dd.active a {
    color: #002147; }

.landing-page-tabs .tabs-content > .content {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  padding: 1rem; }
.landing-page-tabs .section-container.auto > section > .title {
  background-color: #f7f6f5;
  border-top: 4px solid #009dd8; }
.landing-page-tabs .section-container > section.active > .title {
  border-top: 4px solid #002664; }
  .landing-page-tabs .section-container > section.active > .title a {
    color: #002147; }
.landing-page-tabs .section-container.accordion > section.active > .title, .landing-page-tabs .accordion dd.active a {
  background-color: #002664;
  border: 0;
  color: white; }
  .landing-page-tabs .section-container.accordion > section.active > .title a, .landing-page-tabs .accordion dd.active a a {
    color: white; }
.landing-page-tabs .section-container.vertical-tabs > section.active > .title {
  background-color: #002664;
  border-top: none; }
  .landing-page-tabs .section-container.vertical-tabs > section.active > .title a {
    color: white; }
.landing-page-tabs .section-container.accordion > section:not(.active) {
  background-color: #f7f6f5; }
.landing-page-tabs .section-container.auto > section > .title:hover {
  border-top: 4px solid #002664; }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .button-group .button {
    font-size: 0.7rem; } }

@media only screen and (min-width:64.063em) {
  .hero {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    padding-top: 300px; }
  h1.landing {
    font-size: 5em; }
  .feature-row {
    -webkit-background-size: 130% auto;
    background-size: 130% auto; }
  h2.subheader {
    margin-top: -1.3em;
    font-size: 1.4em; } }

@media only screen and (min-width:40.063em) {
  .feature-row {
    background-position: center top; }
    .feature-row h2 {
      font-size: 2.5em; }
    .feature-row .colored-black, .feature-row .colored-blue, .feature-row .colored-gold {
      padding-top: 3em;
      padding-bottom: 3em; }
    .feature-row .colored-black .button {
      min-width: 15em;
      max-width: 18em; }
  .landing-page-tabs dd {
    width: auto; }
    .landing-page-tabs dd a {
      font-size: 1rem; }
  .feature-row .orbit-container .orbit-slides-container > * .orbit-caption {
    font-size: 1.5em; }
  .photo-caption {
    max-width: 45%;
    margin-top: -7em;
    margin-right: 2em;
    padding-right: 0.5em; }
  .landing-title {
    padding-left: 1.5em;
    text-align: left; }
  h1.landing {
    max-width: 45%;
    line-height: 100%;
    margin-bottom: 0.4em;
    text-align: left;
    font-size: 4em; }
  .feature-row .orbit-container {
    margin-top: 1em; }
  .colored-blue-dark .introduction {
    margin-top: 1em; }
  .feature-row .colored-black-light h1 {
    font-size: 4.5em; } }

@media only screen and (min-width:40.063em) and (max-width:64em) {
  .hero {
    -webkit-background-size: 125% auto;
    background-size: 125% auto;
    min-height: 250px;
    padding-top: 220px; }
  h2.subheader {
    max-width: 45%;
    font-size: 1.1em; }
  .feature-row {
    -webkit-background-size: 275% auto;
    background-size: 275% auto; } }

@media only screen and (max-width: 40em) {
  h2.subheader {
    max-width: 80%;
    margin: 0px auto;
    margin-top: -1em; }
  .feature-row .orbit-container .orbit-slides-container img {
    max-width: 150%; }
  #landing-page-row .button-group {
    float: none; }
    #landing-page-row .button-group .button {
      text-align: center; }
    #landing-page-row .button-group li {
      width: 100% !important; }
      #landing-page-row .button-group li a {
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid silver !important; } }
