   //Blog Module - Single Blost Post /
	

	.main {   // This sets the margin of the main content to drop down a bit.  May not be required in Drupal land //
		margin-top: 2em;
		padding-bottom: 2em;
	}


	.blog-header {
		padding-top: 1.5em;
		margin-bottom: .5em;

	}

	.blog-main p {
		font-size: 1.2em;
	}

	.fancy-rule {
		border: 0;
	height: 1px;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), color-stop(0.5, rgba(0,0,0,0.4)), to(rgba(0,0,0,0)));
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image: linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));   
	margin-top: 1em;
	margin-bottom: 2em;
	}

	.long-rule {
		border: 2px solid $ksu-blue;
		width: 95%;
		display: block;
		margin: 0px auto;
		margin-bottom: 2em;
		max-width: 1500px;
	}


	.blog-author {
		padding-bottom: 1em;
		text-align: center;
		text-transform: uppercase;
		padding-top: .2em;

		p {
		font-size: .8em;
		}

		a {
			font-style: normal;
		}

		i {
			display: none;
		}

	}

	.blog-comments a {
		color: $cool-gray;
		font-weight: normal;
	}

	h1.blog-title {
		text-transform: none;
		font-size: 1.7em;
		letter-spacing: normal;
		line-height: 1.2;
		text-align: center;
		padding-bottom: .3em;
		font-family: $sans-serif;
	}


	.blog-subtitle {
		margin-top: 0;
		font-size: 1.4em;
		text-align: center;

	}

	.blog-headshot {

		width: 80px;
		height: 80px;
		background-image: url('../prototype/headshot-sample.jpg');
		display: inline-block;
		background-size: cover;
		border-radius: 40px;
		box-shadow: 1px 1px 5px rgba(0,0,0,.2);
	}

	.blog-name, .blog-date, .blog-comments {
		margin-bottom: .5em;
		color: $cool-gray;
	}

	.blog-feature-image {

		margin-bottom: 1em;

		img {
		border-radius: 5px
		}
	}

	.post-title {
		font-weight: bold;
		font-size: 1.1em;
	}

	.blog-comments-section {
		border-top: 1px solid $warm-gray-1;
	}

	.blog-date {
		display: block;
	}

	.blog-tags {
		span {
			line-height: 150%;
			margin-bottom: 1.5em;
			display: block;
			color: $cool-gray;
		}

		a {
			font-weight: normal;
		}
	}



	// This starts the styling for the blog list page //

	.blog-list-date, .blog-list-author {
		text-transform: uppercase;
		display: inline;
		color: $cool-gray;
		font-size: .8em;

		a {
			font-weight: normal;
		}
	}

	.blog-list-entry {
		border-top: 1px solid lighten($cool-gray,45%);
		padding-top: 1em;
		margin-top: 1em;
		margin-bottom: 3em;

		h3 {
			font-size: 1.3em;
			font-family: $sans-serif;
		}

		a:hover h3  {
			color: lighten($ksu-blue,5%);
		}
	}

	.blog-list-thumb {

		width: 100px;
		height: 100px;
		border-radius: 3px;
		overflow: hidden !important;
		position: relative;
		border: 1px solid $warm-gray-1;
		float: left;
		margin-right: 1.5em;
		margin-bottom: .5em;

		img	{
			width: 200px;
			max-width: none;
		}
	}

	.blog-sidebar  {

		h3 {
		margin-top: 2em;

		}

		.blog-about {
			p {
				font-size: .9em;
				line-height: 170%;
			}
		}
	}


@media #{$medium-up} { 

	.blog-headshot {
		width: 70px;
		height: 70px;
		border-radius: 35px;
	}

	.blog-sidebar {
		margin-bottom: 2em;

		.post:hover {
			border-top-color: $cyan;
		}
	}

	.blog-feature-image {
		max-width: 350px;
		float: left;
		margin: 0px auto;
		padding-right: 2em;
		padding-bottom: .2em;
	}

	h1.blog-title {
		font-size: 2em;
	}

	.blog-date {
		display: inline;
	}


	.blog-subtitle {
			font-size: 1.7em;
	}

	.blog-author {

			p {
				font-size: .9em;
			}

			i {
				font-style: normal;
				margin: 0 .5em;
				display: inline;
			}
	}

	.blog-main p {
		font-size: 1.1em;
	}

	.blog-list-entry h3 {
		font-size: 1.4em;
	}

	.blog-list-date, .blog-list-author {
		font-size: .9em;
	}

}

@media #{$large-up} {


		h1.blog-title {
			margin-bottom: .3em;
		}

		.blog-feature-image {
			max-width: 600px;
		}
	
}
