.action-item {
  @include button(.7rem, $cyan, true, false, false, false);
  width: 100%;
  max-width: 30em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  text-align: left;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, $cyan 0%,$cyan 90%,lighten($dark-blue,5%) 90%,lighten($dark-blue,5%) 100%);
  padding-right: 0em;
  padding-left: 5%;
  padding-bottom: .9em;
  box-shadow: none !important;
  
}

.action-item:after {
	width: 0; 
	content: "";
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid $bright-yellow;
	margin: 0px auto;
	font-size: 110% !important;
	float: right;
	margin-right: 3.8%;
	text-align: center;
	 transition: .3s all ease;
  -webkit-transition: .3s all ease;
  margin-top: .2em;
}

.action-item:hover {
  	background: linear-gradient(to right, lighten($cyan,5%) 0%,lighten($cyan,5%) 90%,lighten($dark-blue,10%) 90%,lighten($dark-blue,10%) 100%);
}

.action-item:hover:after {
	color: lighten($bright-yellow, 10%) !important;
}

.secondary {
	font-family: $slab-serif !important;
	box-shadow: none;
	border-radius: 5px !important;
	font-size: em-calc(11);
	text-transform: uppercase;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: .8em;
	padding-bottom: .8em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.secondary:hover {
	background-color: lighten($secondary, 10%);
}

.large {
	padding-left: 3em !important;
	padding-right: 3em !important;
	padding-top: 1.2em !important;
	padding-bottom: 1.2em !important;
	background-color: $dark-blue;
	border: darken($dark-blue, 5%);
	margin-top: .5em;
	
	span {
		font-family: $sans-serif !important;
	}

}

.fa-caret-right::before {
		margin-left: .5em;
		color: $cyan;
		float: Right;
}

.check {
	padding-left: 2em !important;
	padding-right: 2em !important;
	background-color: $dark-blue;
	border: darken($dark-blue, 5%);
	font-weight: 600;
	border-radius: 2px;
	
	
	i {
		padding-right: .5em;
		line-height:40px;
		vertical-align:middle;
		color: $ksu-gold;
	}
	
}

.small {
	font-size: 1em !important;
	padding-top: 1.2em !important;
	padding-bottom: 1.2em !important;
	margin-top: .5em;
	
	span {
		font-family: $sans-serif !important;
		margin-right: 1em;
	}
	
}

.fa-arrow-circle-o-right::before {
	right: 0;
padding-right:1em;
position: absolute;
}

.accent {
		background-color: $ksu-gold !important;
		color: $ksu-blue !important;
		border: 1px solid darken($ksu-gold, 5%) !important;
		
		span {
		font-family: $sans-serif !important;
		margin-right: 1em;
	}
		
}

.accent:hover {
	background-color: lighten($ksu-gold, 10%) !important;
}

.button {
	padding-left: 3em;
	padding-right: 3em;
	font-family: $sans-serif-condensed;
	box-shadow: none;
	border-radius: 2px;
	line-height:35px;
	
	span {
		font-family: $sans-serif;
		font-weight: bold;
	}
}
