$primary: $cyan;
$secondary: $ksu-blue;

$header-color: $dark-blue;

$footer-background-color: $ksu-blue;
$footer-text-color: white;
$footer-heading-color: $ksu-gold;

$quicklink-color: white;
$quicklink-arrow-color: $cyan;
$quicklink-hover-color: $ksu-gold;

$caption-color: $cool-gray;

$introduction-color: $cool-gray;

$title-color: $cyan;
$h1-color: $ksu-blue;
$h2-color: $cyan;
$h3-color: $dark-blue;
$h4-color: $ksu-blue;
$h5-color: $ksu-blue;
$h6-color: $cool-gray;

$button-color: $cyan;

$bullet-color: $bright-yellow;
$numeral-color: $ksu-blue;

$quote-color: $cyan;

$navigation-color: $dark-blue;
$navigation-hover-color: white;