.align-left {
	float: left;
	padding: 1em;
	padding-right: 2em;
	
	.flex-video {
		min-width: 300px;
		height: auto;
	}
}

.align-right {
	float: right;
	padding: 1em;
	padding-left: 2em;
}

.align-center {
	float: none;
	text-align: center;
	padding: 1em;
}


.th {
	margin-bottom: .5em;
}