// Infographics //

.module-infographics {

	padding: 1em;
	margin-bottom: 1em;

	ul li:before {
		content: none;
	}

	li {
		text-align: center;
		margin-bottom: .8em;
		padding-bottom: 0;
	}

	a {
			&:hover {
				span {
					color: lighten($ksu-blue,10%);
				}
	
			}
	}

	img {
		max-width: 70px;
		display: block;
		margin: 0px auto;
		margin-bottom: .3em;
		margin-top: .3em;

		
	}

	span {
		display: block;
		text-align: center;
		color: $ksu-blue;
		font-size: 1.05em;
		font-family: $sans-serif-condensed;
		font-weight: normal;
		width: 80%;
		margin: 0px auto;
		transition: .3s all ease;
	}
}