.top-bar-section {
	font-family: $sans-serif-condensed;
	text-transform: uppercase;
}

.top-bar-section ul li > a {
}

.top-bar-section ul {
	background-color: $dark-blue;
	margin-left: 1.5em;
	
	li > a {
		font-weight: bold;
	}
	
	li:hover > a {
		background-color: white;
		color: $dark-blue;
	}
	
	a:not(.button):hover {
		background-color: white;
		color: $dark-blue;
	}
}

.top-bar-section .has-dropdown > a::after {
	border-color: $ksu-gold transparent transparent transparent;
}

.top-bar-section ul {
	background-color: $dark-blue;
	display: table;
	margin: 0 auto;
	
	li > a {
	}
	
	li:hover > a {
		background-color: white;
		color: $dark-blue;
	}
	
	a:not(.button):hover {
		background-color: white;
		color: $dark-blue;
	}
}


.side-nav li a {
	display: inline;
}

p.title a {
	font-weight: bold;
	font-family: $slab-serif;
}

nav.breadcrumbs {
	background-color: none !important;
	line-height: 150%;
}


ul.pagination li:before {
	content: none;
}



nav {
}

.side-nav {

	margin-top: 1em;
	
	li:before {
		content: none;
	}
	
	li  {
		margin: 0 0 0.1em 0;
		background-color: lighten($warm-gray-1, 9%);
		border-left: 6px solid $cyan;
		
		a {
			padding: .9em;
			display: block;
			padding-left: 1em;
			color: $ksu-blue !important;
			font-family: $sans-serif;
		}
		
		a:hover, a:active, a:focus {
			background-color: lighten($warm-gray-1, 5%);
		}
		
		ul {
			background-color: lighten($warm-gray-1,13%);
			margin-left: -6px;
			border-right: 1px solid lighten($warm-gray-1,10%);
			margin-top: 0;
			
			li {
				background-color: transparent;
				list-style-type: none;
				border-left: 6px solid $bright-yellow;
				
				a {
					padding: .5em;
					padding-left:2em;
					font-size: .9em;
				}
			}
			
			li:hover {
				border-left: 6px solid lighten($bright-yellow, 15%);
			}
		}
		
		
	}

	
	li.active > {
		
		a:first-child {
		color: $dark-blue;
		}
		

	}
	
	li.active {
		border-left: 6px solid $dark-blue;

	}
	
	li.active:hover {
		border-left: 6px solid $dark-blue;
	}
	
	li:hover {
		border-left: 6px solid lighten($cyan, 5%);
	}
}