// Profiles //

.profile-photo {

	margin-bottom: 2em;
	text-align:center;

	img {
		max-width: 200px;
		width: 100%;
		border:1px solid gray; 
		border-radius:1px;
		box-shadow: 1px 1px 3px rgba(0,0,0,.2)
	}
}

.profile-return {
	font-size: .9em;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 1.5em;
	display: block;
	text-align: center;
	text-transform: uppercase;
	&:before {
		content: "\f190";
		font-family: "FontAwesome";
		margin-right: .5em;
	}
	@media #{$medium-up} {
		text-align: left;
	}

}


.profile-name {

	text-align:center;

	h1 {
		font-size: 2em;
		margin-bottom: .5em;
	}

	.profiles-title {
		margin-bottom: 0;
	}

	.profiles-department {
		color: $cool-gray;
	}
}

.profile-stats {

	margin-bottom: 0;
	margin-top: 2.5em;
	margin-bottom: 2em;
	text-align:center;

	a {
		font-weight: normal;
	}

	.profiles-heading:before {
		display: inline;
		color: $cool-gray;
		margin-right: .7em;
	}

		.profiles-email:before {
		font-family: FontAwesome;
		content: "\f0e0";
	}

	.profiles-phone:before {
		font-family: FontAwesome;
		content: "\f095";
	}

	.profiles-website:before {
		font-family: FontAwesome;
		content: "\f0ac";
	}

	.profiles-office-info:before {
		font-family: FontAwesome;
		content: "\f0f7";
	}

	.profiles-resume:before {
		font-family: FontAwesome;
		content: "\f0f6";
	}

	p {
		margin-bottom: .5em;
	}

}

.profile-bio {
	border-top: 1px solid $warm-gray-1;
	padding-top: 1em;
	p {
	font-size: 1.1em;
	}
}


.profile-additional {
	p {
		font-size: .9em;
		margin-bottom: .5em;
	}

	h3 {
		border-top: 1px solid $warm-gray-1;
		max-width: 75%;
		padding-top: .7em;
		font-size: 1.1em;
	}

	ul li {
		font-size: .9em;
	}

	.profile-additional-section {
		margin-bottom: .5em;
	}
}



// Profiles Display Page //


.profile-list  {

	.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a, .sub-nav dd a.active {
	background: $cyan;
	border-radius: 3px;
	color: white;
	}

	.fac-staff-group {
		padding-bottom: 2em;
	}

	#profile-filter {
			margin-top: .5em;

	}

	.faculty-grid {
		margin-top: .5em;
	}

	.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
	font-weight: normal;
	text-transform: uppercase;
	}

	.sub-nav dd {
		@media #{$medium-only} {
			font-size: .8em;
			margin-left: .5rem;
		}
		@media #{$small-only} {
			font-size: .8em;
			margin-left: .5rem;
		}
	}

	.sub-nav dt {
		font-size: .8em;
		margin-top: .2em;
	}

	li {
		text-align: center;
	}

	margin-top: 2em;

	.profile-list-photo {

		text-align: center;
		position: relative;
		display: inline-block;
		background-color: #000;
		overflow: hidden;

		img {
			width: 100%;
			max-width: 200px;
			transition: 250ms opacity ease-in-out ;
		}

		&:hover img {
			opacity: 0.2;
		}

		.profile-list-additional {
		    position: absolute;
		    display: block;
		    width: 100%;
		    height: 100%;
		    overflow: hidden;
		    top: 0;
		    transform: translateY(-100%);
		    z-index: 1;
		    transition: transform 250ms ease-in-out;
		    text-align: center;
		    color: white;
		    padding: 1em;
		    font-size: .9em;
		    p {
		    	font-size: .9em;
		    	max-height: 80px;
				overflow: hidden;
				text-overflow: ellipsis;
		    }

		    h3 {
		    	color: $ksu-gold;
		    }

		    .secondary {
		    	font-size: .6em;
		    }
		}

		&:hover .profile-list-additional {
    		transform: translateY(0%);
		}
	}

	.profile-list-name {
		font-size: 1.2em;
		margin-top: .5em;
		margin-bottom: .1em;
		line-height: 1.3em;
		text-transform: uppercase;
		text-align: center;
		a {
			font-weight: normal;
		}
	}

	.profile-list-title, .profile-list-phone, .profile-list-email{
		margin-bottom: 0;
		font-size: .9em;
		color: $cool-gray;
		font-family: $sans-serif-condensed;
		text-align: center;
	}

	ul li:before {
	content: none;
	}
}


@media #{$medium-up} {  

	.profile-photo, .profile-name, .profile-stats {
		text-align: inherit;
	}

	.profile-photo  {

		img {
			max-width: 275px;
		}

	}

	.profile-name h1 {
		font-size: 3em;
	}

	.profile-list .profile-list-photo .profile-list-additional {
		.secondary {
		    	font-size: .7em;
		}
	}
}

@media #{$large-up} {

	.profile-photo {
		text-align: center;
	}

}