table {

	margin-top: 1em;
	margin-bottom: 1em;
	
	thead {
		background: $cyan;
		text-transform: uppercase;
		
		tr th {
			color: white;
			text-transform: uppercase;
		}
	}
	
	tr.even, tr.alt, tr:nth-of-type(even) {
		background: lighten($warm-gray-1, 10%);
	}
	
}