body {
	font-family: $sans-serif;
}

a {
	font-weight: 400;
}

.caption {
	font-family: $sans-serif-condensed;
	font-size: .85em;
	color: $caption-color;
	margin-top: .5em;
	margin-bottom: .2em;
}

.introduction {
	color: $introduction-color;
	font-size: 1.3em;
	font-family: $sans-serif-condensed;
	margin-top: 1em;
}

.landing-title {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 2em;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #000000),
	color-stop(1, rgba(0,0,0,0)),
	color-stop(1, #FFFFFF)
);
}

blockquote {
	font-family: $slab-serif;
	text-align: center;
	border-left: none;
	color: $quote-color;
	font-size: 1.2em;
	border-top: 1px solid lighten($warm-gray-1,10%);
	border-bottom: 1px solid lighten($warm-gray-1,10%);
	padding-bottom: .5em;
	margin-top: .5em;
	margin-bottom: .5em;

	
	cite {
		font-style: normal;
	}
}

.photo-caption {
	text-shadow: 2px 2px 5px rgba(0,0,0,.9);
	padding-bottom: 1em;
	float: right;
	padding-right: .1em;
	position: relative;
	z-index: 100;
	margin-top: -2.5em;
	
	.caption {
		color: white;
	}
	
	i {
		color: $bright-yellow;
		padding-right: 1em;
	}
	
	.caption-title {
		color: $bright-yellow;
		font-family: $sans-serif-condensed;
		display: inline-block;
		font-weight: bold;
	}
}



h1.title {
	font-family: $sans-serif-condensed;
	font-weight: 700;
	color: $title-color;
	font-size: 2.5em;
	text-transform: none;
}

h1.landing {
	font-family: $serif;
	font-weight: 600;
	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,.9);
	font-size: 3.7em;
	text-transform: none;
}

h1.subheader {
	font-family: $sans-serif-condensed;
	font-weight: 600;
	color: $title-color;
	text-transform: none;
	font-size: 1.5em;
}

h1 {
	font-family: $sans-serif-condensed;
	font-weight: 700;
	color: $h1-color;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h2 {
	font-family: $sans-serif-condensed;
	font-weight: 400;
	color: $h2-color;
	margin-top: .5em;
}

h2.subheader {
	font-family: $sans-serif;
	color: $bright-yellow;
	margin: 0;
	padding: 0;
	margin-top: -1em;
	font-size: 1.3em;
	text-shadow: 1px 1px 2px rgba(0,0,0,.9);
}

h3 {
	font-family: $slab-serif;
	color: $h3-color;
	text-transform: uppercase;
	margin-bottom: .2em;
	font-weight: 500;
}

h4 {
	font-family: $sans-serif-condensed;
	color: $h4-color;
	text-transform: uppercase;
	font-weight: 600;
}

h5 {
	color: $h5-color;
	font-family: $slab-serif;
	font-weight: normal;
}

h6 {
	color: $h6-color;
	font-weight: normal;
	font-family: $sans-serif;
}

@media #{$medium-up} { 
	
	.photo-caption {
		max-width: 45%;
		margin-top: -7em;
		margin-right: 2em;
		padding-right: .5em;
	}

	.landing-title {
		padding-left: 1.5em;
		text-align: inherit;
	}

	h1.landing {
		max-width: 45%;
		line-height: 100%;
		margin-bottom: .4em;
	}

}