// Landing Page Styles //

@import "variables";
@import "colors-blue";
@import "settings";

.hero {
	min-height: 220px;
	width: 100%;
	overflow:hidden;
	background-position: top center;
	padding-top: 125px;
	background-size: 200% auto;
}

div[role="document"].none [data-ksu-mega-wrapper] {
	border-top: none !important;
}

.homepage-feature  {

		.read-more {
			margin-bottom: 1.5em;
			display: block;
			margin-top: .5em;
			font-weight: bold;
			font-family: $sans-serif;
			color: $cyan;
			transition: .2s color ease;
			text-decoration: none;
			line-height: 140%;

			&:after {
				font-family: FontAwesome;
				margin-left: .5em;
				color: $cyan;
				content: "\f0da";
			}
		}

		.play i {
			color: white;
			opacity: .7;
			transition: .3s opacity ease;

		&:hover {
		opacity: 1;
		}
	}
}

#future-students-block {
	transition: background-color .5s ease;

	&:hover, &:active, &:focus {
		background-color: lighten($ksu-blue, 10%);
	}
}

// Global Navigation //

ul#ksu_og_side_nav  {

	ul.active>li.expanded ul, &.active>li.expanded ul {
		display: none;
	}

	> li > ul.active > li.expanded.active > a, > li.expanded.active > a 
	{margin-bottom: 0;}

	ul.active>li.expanded.active ul, &.active>li.expanded.active ul {
		display: block;
	}

	ul.active>li.expanded.active ul, &.active>li.expanded.active ul {
		li a {
			padding-top:.5em;
			padding-bottom:.5em;
			background-color:white;
			font-size: .95em;
		}
	}

	> li > ul.active >li.active > ul > li.expanded ul li {

		a {
		font-size: .8em;
		padding-top: 0.4em;
		padding-bottom: 0.4em;
		padding-left: 4em;
           &:before {
           	 background-color: $bright-yellow;
           }

	    }
	}
}

// News Global Listing //

.view-news-landing-page {

	.views-row {
		padding-bottom: 1em;
		margin-bottom: 1em;
		margin-top: .5em;
		border-bottom: 1px solid $warm-gray-1;
	}

	.news-author  {
		display: inline;
		color: $cool-gray;
	}

	.views-label-field-author, .news-author {
		text-transform: uppercase;
		font-size: .8em;
		color: $cool-gray;
	}

	.views-field-created {
		font-size: .8em;
		font-style: italic;
		margin-top: .3em;
		color: $cool-gray;
	}

	.views-field-body {
		margin-top: 1em;
		line-height: 150%;
	}

}

ul.pagination li:before {
	content: none;
}


// Home Page and Global Adjustments //

.primaryEventsFeed {
	ul {
		margin-left: 0;
	}
}

.homepage-feature img {
	margin-top: 1em;
}

.panel-pane.pane-block.pane-kent-custom-blocks-kent-featured-photo-small, .panel-pane.pane-block.pane-kent-custom-blocks-kent-sidebar-menu {
	margin-top: 1em;
}

#admin-menu .dropdown li:before {content:'';}

.pane-node-title {
	margin-top: 1em;
}

[data-primary-infographics]  {

	.owl-carousel {

	margin-top: 20px;

	img {
		margin-bottom: 10px;
	}
	
	}

	.title .smaller {
		letter-spacing: 1px;
	}
}

.f-dropdown.content {
	margin-top: 10px;
}

[data-where-is-kent] {
	margin-bottom: -48px;
	background-color: lighten($warm-gray-1,12%);
	border-top: 1px solid lighten($warm-gray-1,8%);

	h2 {
		margin-bottom: 1rem !important;
		margin-top: 1rem;
	}
}

// Calendars Page Adjustments //
.view-calendar-landing-page-featured-events {margin-bottom:1rem;}

// Image Alignments //

.image-align-left {
	float: left;
	padding: 1em;
	padding-right: 2em;
	width: auto;
	max-width: 50%;
	clear: both;
}

.image-align-right {
	float: right;
	padding: 1em;
	padding-left: 2em;
	width: auto;
	max-width: 50%;
	clear: both;
}

.image-align-center {
	float: none;
	text-align: center;
	padding: 1em;
	margin: 0px auto;
	display: block;
	width: auto;
}


// Feature Image Captions //

.feature-caption {

background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.93) 100%);
bottom: 1rem !important;
right: 0rem !important;
padding: 2em;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
width: 100%;
position: absolute;

	.feature-label {
		color: $bright-yellow;
	font-family: $sans-serif-condensed;
	display: block;
	margin-bottom: .5em;
	}

	.feature-title {
		color: white;
	font-family: $sans-serif-condensed;
	line-height:150%;
	}
}


// Styles for Lists //


main {

	ul {

	list-style: none;
    padding:0;
    margin:0;
    margin-left: 1.5em;
    list-style-position: outside;
    margin-top: .5em;
    margin-bottom: 1em;

    &.no-bullet {

    	a {
    		font-weight: normal;
    		color: darken($cool-gray, 15%);
    		font-family: $sans-serif-condensed;

    		&:hover {
    			color: $ksu-blue;
    		}
    	}

    }
    
    li { 
    padding-left: 0em; 
    text-indent: 0em;
    margin-bottom: .3em;

	    a {
	    	font-weight: bold;
	    	color: $cyan;
	    }

	    a:hover, a:focus {
	    	color: lighten($cyan, 15%);
	    }
    
	}
	
	li:before {
    content: "\f0c8";
    font-family: FontAwesome;
    font-size: .7em;
    color: $bullet-color;
    padding-right: 0;
    line-height: 28px;
    margin-left: -1.5em;
    position: relative;
    float: left;
	}

}

	#ksu_og_side_nav {
		li {
			margin-bottom: 0;
		}

		a {
		   font-weight: normal;
		   color: $ksu-blue;
		}
	}
	
	// Until they can be put into core, temporary styles for menu blocks as sidebar nav //
	#ksu_og_side_nav ul.menu {

		li{
			margin-left:0;
			float:left;
			width:100%;
			position:relative;
			display:block;
			
			a{
				transition:background-color .4s ease;
				margin-left:0;
				float:left;
				display:block;
				width:100%;
				position:relative;
				background-color:#f5f4f2;
				margin-bottom:.1rem;
				padding-top:.9rem;
				padding-bottom:.9rem;
				color:black;

				&.active {font-weight:bold;}
				&:hover {background-color:#ebeae7;}
				&:before {
					content:' ';
					position:absolute;
					width:6px;
					height:100%;
					top:0;
					left:0;
					background-color:#002147;
				}

			}
			
			&:hover > a:before {background-color:#002147;}

			ul{
				margin-top:0;
				margin-left:0;
				float:left;
				width:100%;
				position:relative;
				display:block;
				
				>li {
					display:block;
					
					>a {
						display:block;
						padding-left:2rem;
						
						&:before{
							content:' ';
							position:absolute;
							width:6px;
							height:100%;
							top:0;
							left:0;
							background-color:#ffc82e;
						}
					}
				
					&:hover>a {background-color:#ffdc7b;}
				
				}
			}
			
		}
	} 

	.clearing-thumbs li:before, .button-group li:before, .inline-list li:before, #ksu_og_side_nav li:before {
		content: none;
		line-height: inherit;
		margin-left: inherit;
	}

	.owl-carousel {
			margin-left: 0;
		}


	ol {
	
		counter-reset: li;
		margin-left: 1em;
		padding-left: 0;
		list-style: none;
		margin-top: .5em;
	
		>li {
			margin-bottom: 10px;
			position: relative;
			margin-left: 2em;
			margin-top: .7em;
		}
	
		>li:before {
			content: counter(li);
			counter-increment:li;
			margin-right: 10px;
			font-style: italic;
			color: $numeral-color;
			font-weight: bold;
			left: -1.5em;
			position: absolute;
		}
	}
}

// End List Styles //


.sequence-module {

	text-align: center;

	img {
		width: 200px;
	}

	p {
		font-size: 1.2em;
		font-weight: bold;
		color: darken($cool-gray, 10%);
	}

	margin-top: 2em;
	margin-bottom: 2em;
}

.button-group.sequence {

	width: 80%;
	margin:0px auto;

	li:before {
		content: none;
	}

	i {
		display: block;
		color: $ksu-gold;
		margin-bottom: .3em;
	}

	a {
		display: inline-block;
		background-color: $dark-blue;
		font-family: $slab-serif;
		border-color: white !important;

	}

	.active {
		background-color: $warm-gray-1;
		color: black;

		i {
			color: $ksu-blue;
		}
	}

	.active:hover, .active:active, .active:focus {
		background-color: $warm-gray-1;
		color: black;

		i {
			color: $ksu-blue;
		}
	}

	a:hover, a:active, a:focus {
		background-color: $ksu-blue;

		i {
			color: $ksu-gold;
		}
	}
}

.error-page {

	margin-bottom: 1px;
	margin-top: 1px;
	background-size: 250% auto;
	background-position: 35% 0;
	padding-left: 0 !important;

	h1 {
		color: white;
		margin-bottom: .5em;
		padding-top: 2em;
		font-size: 1.5em;
		margin-bottom: 0;
	}

	h2 {
		color: $bright-yellow;
		font-weight: bold;
		padding: 0;
		font-size: 3em;
		margin: 0;
		margin-bottom: .2em;
		text-shadow: 2px 2px 5px rgba(0,0,0,.9);

	}

	h3 {
		color: $bright-yellow;
		margin-top: 1em;
		font-size: 1.4em;
	}

	p {
		color: white;
		font-size: 1.1em;
		text-shadow: 2px 2px 5px rgba(0,0,0,.9);
	}

	a {
		color: $bright-yellow;
	}

	.gradient {
		background-image: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 90%);
		padding-bottom: 2em;
	}
}

.full-screen-layout  {

	.main {
	padding-left: 0 !important;
	padding-right: 0 !important;
	}	

	.panels-flexible-region {
		width: 100% !important;
	}

	[data-ksu-footer-wrapper] {
		margin-top: 0 !important;
	}
}

.introduction {
  font-size: 1.4em;
  font-family: "tablet-gothic-semi-condensed", Helvetica, Arial, sans-serif;
  margin-top: 1em; 
}

.landing-title {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 2.1em;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.93) 100%);
}

.landing-thumbs a {
	width: 60px;
}

.photo-caption {
	text-shadow: 2px 2px 5px rgba(0,0,0,.9);
	padding-bottom: 1em;
	float: right;
	padding-right: .1em;
	position: relative;
	z-index: 100;
	margin-top: -2.5em;
	font-size: 1em;
	
	.caption {
		color: white;
		font-family: $sans-serif-condensed;
	}
	
	i {
		color: $bright-yellow;
		padding-right: 1em;
	}
	
	.caption-title {
		color: $bright-yellow;
		font-family: $sans-serif-condensed;
		display: inline-block;
		font-weight: bold;
	}
}

.accent {
		background-color: $ksu-gold !important;
		color: $ksu-blue !important;
		border: 1px solid darken($ksu-gold, 5%) !important;
		font-size: 1em !important;
		padding-top: 1.2em !important;
		padding-bottom: 1.2em !important;
		margin-top: 0.5em;
		margin-right: 0.3em;
		margin-left: 0.3em;
		border-radius: 2px;
		background-color: #009dd8;
		border-color: #007fad;
		color: white;
		transition: background-color 200ms ease-out;
		font-family: $sans-serif !important;
		font-weight: bold;
		line-height: 150%;
}

.accent:after {
	color: $ksu-blue;
	content: "\f18e";
	padding-left: .5em;
	font-family: FontAwesome;
}

.accent:hover {
	background-color: lighten($ksu-gold, 10%) !important;
}



h1.title {
	font-family: $sans-serif-condensed;
	font-weight: 700;
	color: $title-color;
	font-size: 2.5em;
	text-transform: none;
}

h1.landing {
	font-family: $serif;
	font-weight: 600;
	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,.9);
	font-size: 2.7em;
	text-transform: none;
	line-height: 120%;
}

h1.subheader {
	font-family: $sans-serif-condensed;
	font-weight: 600;
	color: $title-color;
	text-transform: none;
	font-size: 1.5em;
}

.facts {

	.huge {
		font-size:3em;
		margin-bottom:-.2em;
		font-family:$slab-serif;
		color:#002147;
		margin-top: .5em;
	}

	p {
		margin-bottom: 1.5em;
		font-family: $sans-serif-condensed;
		font-size: 1.2em;
	}
}

.image-centered {
		text-align: center;
		
		h2 {
			font-size: 2em;
			margin-top: -1.7em;
			margin-bottom: .5em;
			font-weight: normal;
		}

		img {
	width: 90%;
	height: auto;
	margin: 0px auto;
	border: 1px solid lighten($warm-gray-1, 2%);
	padding: .3em;
	margin-bottom: 1.5em;
}
}

.image-rounded {
	text-align: center;
	
	img {
		border-radius: 5px;
		margin-bottom: 1em;
		padding-top: .5em;
	}
	
	h2 {
		font-weight: 400;
		font-size: 2em;
		margin-top: -1.7em;
		margin-bottom: .5em;
		font-weight: normal;
	}
}

#landing-page-global .button-group {
	background-color: $warm-gray-1;
	-webkit-box-shadow: 0 4px 5px -2px rgba(0,0,0,.5);
	box-shadow: 0 2px 5px -2px rgba(0,0,0,.5);
	
	.button {
		margin-bottom: 0 !important;
		background-color: $warm-gray-1;
		color: lighten(black, 10%);
		border-top: none;
		border-bottom: none;
		font-weight: 600 !important;
		padding-left: inherit !important;
		padding-right: inherit !important;
		line-height: 45px;

		a {
			border-right: 1px solid rgba(255, 255, 255, 0.5);
		}
	}
	
	li:before {
		content: none;
	}
	
	li:first-child a {
		border-left: 1px solid $warm-gray-1;
	}
	
	li:last-child a {
		border-right: 1px solid $warm-gray-1;
	}
	
	.button:hover, .button:active, .button:focus {
		background-color: $cool-gray;
		color: white;
	}
	
}

// Primary Tabs - visible to admins only //
main>.main>ul.button-group,
#drupal-node-utility-tabs>ul.button-group {
	margin-left: .5rem;
	margin-bottom:1.5rem;

	>li>a.small.button.secondary {
		padding: .5rem;
		margin-bottom: .5rem;
	}
}



h2.subheader {
	font-family: $sans-serif;
	color: $bright-yellow;
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	margin-top: -1.2em;
	margin-left: .1em;
	text-shadow: 1px 1px 2px rgba(0,0,0,.9);
	display: block;
}

.action-link  {

	margin-bottom: 1.5em;
	display: block;
	margin-top: .5em;
	font-weight: bold;
	font-family: $sans-serif-condensed;
}

.action-link:after {
	content: "\f18e";
	padding-left: .5em;
	color: $cyan;
	font-family: FontAwesome;
}


.landing-row {
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: .5em;
	border-bottom: 1px solid lighten($warm-gray-1, 7%);


	h2 {
		margin-top: 0;
		font-weight: normal;
	}

	.small {
		font-size: 1em !important;
			padding-top: 1.2em !important;
			padding-bottom: 1.2em !important;
			margin-top: 0.5em;
			margin-right: 0.3em;
			margin-left: 0.3em;
			border-radius: 2px;
			background-color: #009dd8;
		border-color: #007fad;
		color: white;
		transition: background-color 300ms ease-out;
		font-weight: bold;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

	}

	.small:after {
	content: "\f18e";
	padding-left: .5em;
	color: white;
	font-family: FontAwesome;
	}
}

.rssBody  {

	ul {
		list-style-type: none;
	}

h4 {
	text-transform: inherit;
	font-size: 1em;
	font-family: $sans-serif;
}
}

.check {
	padding-left: 1.5em !important;
	padding-right: 1.5em !important;
	background-color: $dark-blue;
	border: darken($dark-blue, 5%);
	font-weight: 600;
	border-radius: 4px;
	color: white !important;
	margin-top: 1.5em !important;
	
}

.check:before {
		padding-right: .5em;
		line-height:40px;
		vertical-align:middle;
		color: $ksu-gold;
		content: "\f14a";
		font-family: FontAwesome;
		font-size: 1.6em;
}

.large {
	padding-left: 3em !important;
	padding-right: 3em !important;
	padding-top: 1.2em !important;
	padding-bottom: 1.2em !important;
	background-color: $dark-blue;
	border: darken($dark-blue, 5%);
	margin-top: .5em;
	border-radius: 4px;
	display: inline-block;
	line-height: 150%;
	font-size: 1.1em !important;
	color: white !important;

	i {
		display:block;
		margin-bottom: .2em;
		color: $cyan;
	}
}

.large:after {
		margin-left: .5em;
		color: $cyan;
		content: "\f0da";
		float: none !important;
		font-family: FontAwesome;
}


img.rounded {
				border-radius: 5px;
				margin-bottom: 1em;
		}

.feature-row {
	text-align: center;
	background-size: 700% auto;
	text-shadow: 2px 2px 5px rgba(0,0,0,.9);

	.owl-item li {
		margin-bottom: 0;
		list-style-type: none;
	}

	.owl-caption {
		position: absolute;
		display: block;
	bottom: 0;
	padding: .5em;
	background: rgba(255,255,255,.7);
	width: 100%;
	font-size: 1.1em;
	text-align: center;
	font-family: $sans-serif-condensed;
	font-weight: 600;
	color: $ksu-blue;

		.read-more-link {
			color: $cyan;
			font-size: .7em;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

			img.feature {
		border-radius: 5px;
		border: 2px solid white;
	}

		h1 {
			font-family: $serif;
			font-size: 7em;
			color: $ksu-gold;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		.side-description {
			font-size: 1.5em;
			font-family: $sans-serif-condensed;
			line-height: 120%;
			margin-top: .2em;

		}

		h2 {
			font-weight: 600;
			font-size: 2em;
			margin-top: 0;
			margin-bottom: 0em;
			color: $ksu-gold;
		}

		ul {
			text-shadow: none;
			text-align: left;
			margin-top: 2em;

			a {
				color: white;
				transition: .1s color linear;
			}

			a:hover,a:active,a:focus {
				color: $bright-yellow;
			}


			li {
				margin-bottom: 2em;
			}
		}

		.orbit-container .orbit-slides-container > * .orbit-caption {
			font-size: .9em;
			text-align: center;
			font-family: $sans-serif-condensed;
			font-weight: 600;
			background-color: rgba(255,255,255,.7);
			color: $ksu-blue;

			span  {
				color: $ksu-blue;
				text-transform: uppercase;
				font-size: .5em;
				font-weight: bold;
				padding-left: 1.5em;

			}

			.read-more-link:after {
				font-size: .8em;
				margin-top: 1em;
			}

			span:hover  {
				color: lighten($ksu-blue, 10%);
			}

			.fa-caret-right::before {
					color: $cyan !important;
					font-size: .7em;
					margin-top: .45em;
				}
		}

		.orbit-container  {

			ul li:before {
				content: none;
			}

		}

		.small {
			min-width: 15em;
			max-width:20em;
		}

		h3 {
			color: $ksu-gold;
			font-size: 1.5em;
			margin-top: 1em;
			font-family: $slab-serif;
			text-transform: uppercase;
		}

		p {
			color: white !important;
		}

		.colored-blue {
			background-color: rgba($ksu-blue, .8);
			padding-top: 1.5em;
			padding-bottom: 1.5em;
		}

		.colored-blue-dark {

			background-color: rgba($dark-green, .95);
			padding-top: 2em;
			padding-bottom: 1.5em;

			.orbit-bullets li.active {
				background: $cyan;
			}

			.introduction {
				margin-top: 0em;
			}

		}

		.colored-gray {
			background-image: linear-gradient(to bottom, rgba($cool-gray,.4) 0%,rgba(black,.8) 100%);
			padding-top: 2.5em;
			padding-bottom: 1.5em;

			h2 {
				font-family: $serif;
				font-size: 3em;
				line-height: 120%;
			}

			h3 {
				color: $dark-blue;
				text-shadow: none;
				margin-top: 1em;
			}

			h2 {
				text-align: center;
			}

			ul li a {
				color: black;
			}

			i {
				color: $bright-yellow;
				margin-top: .5em;
			}
		}

		.colored-gold {
			background-image: linear-gradient(to bottom, rgba($ksu-gold,.3) 0%,rgba($ksu-gold,1) 100%);
			padding-top: 1.5em;
			padding-bottom: 1.5em;

			i {
				color: $dark-blue;
				margin-top: .5em;
				text-shadow: none;
			}


			h2 {
				color: white;
				font-size: 4em;
			}

			h3 {
				color: $dark-blue;
				text-shadow: none;
				font-weight: bold;
			}
		}

		.button {
			text-shadow: none;
		}


		.colored-black {
			background-color: rgba(0,0,0,.7);
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			border-bottom: 1px solid white;

			.button {
				min-width: 15em;
			}

			i {
				color: $bright-yellow;
				margin-top: .5em;
			}

			h2 {
				margin-bottom: 1em;
			}
		}

		.colored-black-light {
			background-image: linear-gradient(to bottom, rgba(0,0,0,.1) 0%,rgba($dark-blue,.9) 100%);
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			border-bottom: 1px solid white;

			.button {
				min-width: 15em;
			}

			h1.go {
				max-width:600px;
			margin:0px auto;
			margin-top:.7em;
			}

						p {
				text-shadow: 2px 2px 2px rgba(0,0,0,1);
			}

			i {
				color: $bright-yellow;
				margin-top: .3em;
				margin-bottom: .1em;
			}

			.shadow {
    -webkit-filter: drop-shadow( -2px -2px 3px rgba(0,0,0,.9));
            filter: drop-shadow( -2px -2px 3px rgba(0,0,0,.9)); /* Same syntax as box-shadow */
            -webkit-transform: translateZ(0);
}

			h1 {
				color: white;
				font-size: 2.8em;
				font-family: $sans-serif;
				font-weight: bold;
				margin-top: .5em;

				span {
					display: none;
					color: $bright-yellow;
					font-family: $sans-serif-condensed;
					font-weight: 700;
				}
			}

			h2 {
				font-family: $serif;
				font-size: 3em;
			}

			.side-description {
				font-size: 2.2em;
				font-weight: bold;
				letter-spacing: 1px;
			}

			.future-students-logo {
					width: 100%;
					height: auto;
				}
		}

		.photo-row {
			margin-bottom: .5em;
			img {
				border: 3px solid white;
				border-radius: 3px;
				box-shadow: 1px 1px 3px rgba(0,0,0,.5);
				margin-bottom: .5em;
			}
		}
}


.box {
	padding:1em;
	margin-top: .5em;
	margin-bottom: 1em;
	display: block;
	padding-top: 1em;
	transition: .4s margin-top ease-in;
	background-size: 170% auto;
	border: 1px solid rgba($warm-gray-3,.7);
	border-radius: 5px;
	margin-top: 1.8em;
	text-shadow: 1px 1px 3px rgba(0,0,0,.9);

	p {
		color: white;
		font-weight: normal;

	}

	p.read-more-link {
		color: white !important;
	}

	h3 {
		color: white;
		font-size: 1.4em;
	}

	i {
		color: $bright-yellow;
	}
}

.side-row {

	margin-top: 1px !important;

	h1 {
		font-size: 7em;
		padding-top: 0em;
	}

	h3 {
		margin-bottom: 0;
	}

	.side-description {
		margin-top: -1.5em;
		font-size: 1.4em;
		font-style:italic;
	}

	.colored-black {
		background-image: linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba($dark-blue,.9) 100%);
		background-color: transparent;
	}
}

.landing-icons {
	text-align: center;

	h3 {
		margin-top: 2em;
		margin-bottom: 1em;
		font-size: 1.5em;
	}

	.icon-box {
		padding-top: 1em;
		padding-bottom: .8em;
		border-radius: 10px;
		width: 100%;
		margin:0px auto;
		margin-bottom: .1em;
	}

	a:hover, a:active, a:focus {
		opacity: 1;
		height: 1em;

		.fa-3x {
			font-size: 3.5em;
		}
	}
	a {
		color: $dark-blue;
		display: block;
		opacity: .85;

		.fa-3x {
			transition: font-size .1s ease;
			height: 1em;
		}

	}

	.row {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	i {
		color: $cyan;
		height: 3em;
	}

	p {
		text-align: center;
		font-size: 1em;
		text-transform:uppercase;
		font-family: $sans-serif-condensed;
	}
}

.promo {

	h2 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

.promo.first {
	border-right: 1px solid $warm-gray-1;
	margin-bottom: 1em;
}


.tabs-content {
		text-align: left;
		border: 1px solid $warm-gray-1;
		margin-bottom: 1.5em;
		padding-left:2em;
		padding-right:2em;

		.landscape {
		margin-bottom: 1em;
	}

	h4 {
			padding-left: 1em;
		}
}

.tabs-content.checklist {
	padding: 1em;
}

.landing-page-tabs {

	dd a {
		font-family: $slab-serif;
		font-size: .7rem;
		text-align: center;
	}

	dd {

		background-color: lighten($warm-gray-1, 10%);
	border-top: 4px solid $cyan;
	margin-right: 1px;
	width: 100%;

	}

	dd.active {
	border-top: 7px solid $ksu-blue;
	border-left:1px solid $warm-gray-1;
	border-right:1px solid $warm-gray-1;
	a {
		color: $dark-blue;
		font-weight: bold;
	}
}

}

// Tabs //


.landing-page-tabs {
.tabs-content > .content {
		margin-left:2%;
		margin-right: 2%;
		width:96%;
		padding: 1rem;
}
}

.section-container  {

	br {
		display: none;
	}

	.title {
	background-color: lighten($warm-gray-1, 10%) !important;
	border-top: 4px solid $cyan !important;
	font-weight: bold;

}
}

.section-container.auto > section > .title a {

	font-size: 1.3em !important;
}


.section-container > section.active > .title {
	border-top: 6px solid $ksu-blue !important;
	background-color: white !important;
	a {
		color: $dark-blue !important;
	}
}


.section-container.accordion > section.active > .title, .accordion dd.active a {
	background-color: $ksu-blue;
	border: 0;
	color: white;
	a {
		color: white;
	}
}

.section-container.vertical-tabs > section.active > .title {
	background-color: $ksu-blue;
	border-top: none;
	a {
		color: white;
	}
}

.section-container.accordion > section:not(.active) {
	background-color: lighten($warm-gray-1, 10%);
}

.section-container.auto > section > .title:hover {
	border-top: 4px solid $ksu-blue;
}

@media #{$large-up} {

	.hero {
		background-size: 100% auto;
		padding-top: 300px;
	}

	.button-group .button {
		font-size: .9rem;
	}

	.error-page {
		background-size: 100% auto;
		background-position: right top;

		h2 {
		font-size: 5em;
		margin-bottom: .2em;
		}

		.gradient {
			padding-left: 5em !important;

		}

	}

	h1.landing {
		font-size: 4.5em;
	}

	.feature-row {
		background-size: 130% auto;
	}

	.side-row {
		background-size: 120% auto;
	}

	.box {
		margin-bottom: 3em;
		margin-top: -1.5em;
	}

	.box:hover, .box:active, .box:focus {
	border: 1px solid lighten($cool-gray, 30%);
	border-radius: 5px;
	margin-top: -2em;


		p {
		font-color: black;
		}
	}

	.box-overlay-1 {
		background: url(https://cms.kent.edu/sites/default/files/blur-normal.jpg) no-repeat -9999px -9999px;

	}

	.box-overlay-2 {
		background: url(https://cms.kent.edu/sites/default/files/kent-normal.jpg) no-repeat -9999px -9999px;
	}

	.box-overlay-3 {
		background: url(https://cms.kent.edu/sites/default/files/cleveland-normal.jpg) no-repeat -9999px -9999px;
	}

	.box.one:hover {
			background-image: url(https://cms.kent.edu/sites/default/files/blur-normal.jpg) !important;
	}
	.box.two:hover {
			background-image: url(https://cms.kent.edu/sites/default/files/kent-normal.jpg) !important;
	}
	.box.three:hover {
			background-image: url(https://cms.kent.edu/sites/default/files/cleveland-normal.jpg) !important;
	}

	.colored-black-light {
		.introduction {
				margin-bottom: 2em;
			}
	}
}

@media #{$medium-up} {
	

	.feature-row {
		background-position: center top;

		h2 {
			font-size: 2.5em;
		}

		.owl-caption {
			font-size: 1.3em;
		}

			.colored-black-light h2, .colored-gray h2 {
		font-size: 4em;
	}

		.colored-black, .colored-blue, .colored-gold {
				padding-top: 3em;
		padding-bottom: 3em;
		}

		.colored-black {
			.button {
				min-width: 15em;
				max-width: 18em;
			}
		}
	}

	.landing-page-tabs {

			dd {
				width: auto;

				a {
					font-size: 1rem;
				}
			}
		}

	.feature-row .orbit-container .orbit-slides-container > * .orbit-caption {
		font-size: 1.5em;
	}

	.photo-caption {
		max-width: 45%;
		margin-top: -7em;
		margin-right: 2em;
		padding-right: .5em;
	}

	.landing-title {
		padding-left: 1.5em;
		text-align: left;
	}

	h1.landing {
		max-width: 45%;
		line-height: 100%;
		margin-bottom: .4em;
		text-align: left;
		font-size: 4em;
	}

	.feature-row .orbit-container {
		margin-top: 1em;
	}

	.colored-blue-dark {
		.introduction {
			margin-top: 1em;
		}
	}

	.feature-row .colored-black-light h1 {
		font-size: 4.5em;
	}

	.box {
		height: 200px;
	}

	.large {
		width: 14.5em;
	}
	
	.error-page {
			.gradient {
		background-image: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 50%);
		padding-bottom: 5em;
	}

		h3 {
			margin-top: 2em;
		}
	}


}

@media #{$medium-only} {
	.hero {
		background-size: 150% auto;
		min-height: 250px;
		padding-top: 220px;
	}

	.button-group .button {
		font-size: .7rem;
	}

	.error-page {
		background-size: 150% auto;
		background-position: 10% 0;
	}

	.button-group.sequence {
		width: 90%;
	}

		h2.subheader {
			max-width:45%;
			font-size: 1.1em;
		}

	.feature-row {
		background-size:275% auto;
	}
}

@media #{$small-only} {

	#future-students-block {
		width: 100%;
	}

	h2.subheader {
		max-width: 80%;
		margin: 0px auto;
		margin-top: -.5em;
	}

		.button-group.even-3 {
		li {
			width: 100% !important;
		}

		a {
			margin-bottom: .1em;
		}
	}

	.side-row  {

		h1 {
		font-size: 5em;
		}	

		.side-description {
		margin-top: -1.3em;
		font-size: 1.2em;
		}
	}

	.landing-icons p {
		font-size: .9em;
	}

	.feature-row .orbit-container .orbit-slides-container img {
		max-width: 150%;
	}

	#landing-page-row .button-group {
		float: none;
		
		.button {
			text-align: center;
		}
		
		li {
			width: 100% !important;
			
			a {
				border-left: none !important;
				border-right: none !important;
				border-bottom: 1px solid lighten($cool-gray, 30%) !important;
			}
		}
	}
}